.DS_Store
node_modules/
.cache/

## Backstop resources
backstop_data/html_report/
backstop_data/bitmaps_test/

## Demo support files
demo/*.css

## CSS built from Sass process
src/*.css

## *-css built from sass-render process
*-css.js

## dist files
dist/
build/

## Karma code coverage reports
coverage/
