# standard ignore
*config*
*conf*

.husky/
.github/
.gitignore
.eslintrc
.stylelintrc

apiExamples/
coverage/
docs/
scripts/
test/
demo/**/*.css
demo/**/*.scss
demo/**/*.html

dist/es5.js

index.html

# ignore src
src/**/*.scss
src/**/*.css
