@import './../../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables.scss';

.inputElement-helpText {
  margin: var(--ds-size-50, $ds-size-50) 0;
  color: var(--ds-auro-input-default-help-text-color-default);
  font-size: var(--ds-text-body-size-xs, $ds-text-body-size-xs);
  line-height: 1rem;
}

:host([disabled]) {
  .inputElement-helpText {
    color: var(--ds-auro-input-disabled-help-text-color-default);
  }
}

:host([validity]:not([validity='valid'])) {
  .inputElement-helpText {
    color: var(--ds-auro-input-invalid-help-text-color-default);
  }
}
