// Support for fallback values
@import './../../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables.scss';

input {
  flex: 1;
  position: relative;

  min-height: calc(var(--ds-size-700, $ds-size-700) + var(--ds-size-25, $ds-size-25));
  max-height: calc(var(--ds-size-700, $ds-size-700) + var(--ds-size-25, $ds-size-25));

  padding: var(--ds-size-400, $ds-size-400) 0 var(--ds-size-100, $ds-size-100);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: 0;
  background-color: var(--ds-auro-input-default-container-background-color-default);
  caret-color: var(--ds-auro-input-default-caret-color-default);
  font-family: var(--ds-font-family-default, $ds-font-family-default);
  font-size: 1rem;
  transition: all .3s cubic-bezier(.215, .61, .355, 1);
  outline: none;

  color: var(--ds-auro-input-default-value-color-default);

  // this is to disable the toggle-password feature in MS Edge only
  &::-ms-reveal,
  &::-ms-clear {
    display: none;
  }

  &::placeholder {
    color: var(--ds-auro-input-default-placeholder-color-default);
  }

  &:focus {
    &::placeholder {
      color: var(--ds-auro-input-focus-placeholder-color-default);
    }
  }

  &:disabled {
    pointer-events: none;
    background: none; // Is this right? It's already transparent so why reset it?
    color: var(--ds-auro-input-disabled-value-color-default);
  }
}