@import './../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';

:root {
  --ds-auro-input-border-color: var(--ds-color-border-secondary-default, #{$ds-color-border-secondary-default});
  --ds-auro-input-container-color: var(--ds-color-container-primary-default, #{$ds-color-container-primary-default});
  --ds-auro-input-caret-color: var(--ds-color-text-ui-focus-default, #{$ds-color-text-ui-focus-default});
  --ds-auro-input-help-text-color: var(--ds-color-text-tertiary-default, #{$ds-color-text-tertiary-default});
  --ds-auro-input-label-text-color: var(--ds-color-text-tertiary-default, #{$ds-color-text-tertiary-default});
  --ds-auro-input-placeholder-text-color: var(--ds-color-text-primary-default, #{$ds-color-text-primary-default});
  --ds-auro-input-text-color: var(--ds-color-text-primary-default, #{$ds-color-text-primary-default});
}
